* {
    font-family: sans-serif;
}

body {
    display: grid;
    grid-template: 1fr 1fr 10fr / 1fr 1fr;
    align-items: center;
    justify-items: center;
    margin: 0;
    height: 100vh;
    width: 100vw;
}

.ship {
    background-color: lightgreen;
}

.miss {
    background-color: pink;
}

#hit {
    background-color: rgb(255, 107, 107);
}

.cpu-message,
.plyr-message {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: 2 / 3;
    width: 420px;
    height: 50%;

    font-size: 24px;
    font-weight: 600;
}

.cpu-message {
    grid-column: 1 / 2;
}

.plyr-message {
    grid-column: 2 / 3;
}

#player-board,
#cpu-board {
    display: grid;
    grid-row: 3 / -1;
    grid-template: repeat(10, 1fr) / repeat(10, 1fr);
    width: 50%;
    height: 65%;
}

#player-board {
    grid-column: 2 / 3;
}

.playerSq,
.cpuSq {
    width: 100%;
    height: 100%;
    border: 1px solid black;
}

#cpu-board {
    grid-column: 1 / 2;
}