body {
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    align-items: center;
    justify-items: center;
    margin: 0;
    height: 100vh;
    width: 100vw;
}

.ship {
    background-color: lightgreen;
}

.miss {
    background-color: pink;
}

#hit {
    background-color: rgb(255, 107, 107);
}

#player-board,
#cpu-board {
    display: grid;
    grid-template: repeat(10, 1fr) / repeat(10, 1fr);
    width: 55%;
    height: 55%;
}

#player-board {
    grid-column: 2 / 3;
}

.playerSq,
.cpuSq {
    width: 100%;
    height: 100%;
    border: 1px solid black;
}

#cpu-board {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}